<div class = log> 
    <h1>ログイン</h1>
    <p></p>
    <%= form_tag '/top/login', method: :post do %>
        <h4>ユーザーIDとパスワードを入力してください</h4>
        <p>
            <%= label_tag :uid, 'ユーザーID' %><br>
            <%= text_field_tag :uid %>
        </p>
        <p>
            <%= label_tag :pass, 'パスワード' %><br>
            <%= password_field_tag :pass %>
        </p>
        <p><%= submit_tag 'ログイン' %></p>
    <% end %>
    <p></p>
    <%= link_to 'パスワード情報', users_path %>
</div>
