<h1>Kinboardへようこそ</h1>
<%= @db_pass %>

<% if current_user %>
    <p><h class="current_user">
        <%= current_user.name %>
    </h>でログイン中です。</p>
<% end %>

<p><%= link_to 'ログイン', top_login_path %></p>
<p><%= link_to 'ログアウト', top_logout_path %></p>
<p><%= link_to 'アカウント情報', users_profile_path %></p>
<p><%= link_to 'スレ一覧', thres_path %></p>