<h1>Kinboardへようこそ</h1>

<%= link_to 'ログイン', top_login_path %>
<%= link_to 'ログアウト', top_logout_path %>
<%= link_to 'アカウント情報', users_profile_path %>
<%= link_to 'アカウント情報', users_path %>
<%= link_to 'スレ一覧', thres_path %>
<%= link_to 'メッセージ', responses_path %>
