アカウント情報
<% @users.each do |my| %>
   <p> 
       id: <%= my.uid %>
       pass: <%= my.pass %>
       ニックネーム: <%= my.name %>
       <%= link_to '削除', user_path(my.id), method: :delete %>
       <%= link_to '編集', edit_user_path(my.id) %>
    </p>
<% end %>

<p><%= link_to '新規追加', new_user_path %></p>
<p><%= link_to 'トップに戻る', top_main_path %></p>

