<% @responses.each do |res| %>
   <p> 
       <%= @count = @count + 1 %>：
       <%= res.message %>
       <%= res.tdate %>
       <% if res.image.attached? %>
           <%= image_tag res.image, width: '10%', height: '10%'  %>
       <% else %>
           <%= image_tag 'n.png', width: '0%', height: '0%' %>
       <% end %>
       <%= link_to '表示', response_path(res.id) %>
       <%= link_to '削除', response_path(res.id), method: :delete %>
    </p>
<% end %>
<%= params[:id] %>
<p><%= link_to 'レスの追加', new_response_path(id: params[:id]) %></p>
<p><%= link_to 'スレに戻る', thres_path %></p>
<p><%= link_to 'トップに戻る', top_main_path %></p>
