<p>
<%= form_for @response , url: {action: :create} do |f| %>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
    <%= f.label :image, '画像' %>
    <%= f.file_field :image, accept: :image %>
    <%= f.submit '登録' %>
<% end %>
</p>
<%= @noo = params[:id] %>